<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <div *ngIf="!isAuthenticatedFlag">
        <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
        <a mat-list-item routerLink="/contact" (click)="drawer.close()">Contact</a>
        <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a>
      </div>

      <div *ngIf="isAuthenticatedFlag">
        <a mat-list-item routerLink="/home" (click)="drawer.close()">Home</a>
        <a mat-list-item routerLink="/contact" (click)="drawer.close()">Contact</a>
        <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a>
        <a mat-flat-button routerLink="/logout" (click)="drawer.close()" color="accent" class="full-width">
          <mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon>Logout
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> Bharat Industrial Corportation</span>
      <span class="navlink-spacer"></span>
      <div *ngIf="!(isHandset$ | async)">
        <div *ngIf="!isAuthenticatedFlag">
          <a mat-button routerLink="/login">Login</a>
          <a mat-button routerLink="/contact">Contact</a>
          <a mat-button routerLink="/about">About</a>
        </div>
        <div *ngIf="isAuthenticatedFlag">
          <button mat-button [matMenuTriggerFor]="menu" class="m1">
            Menu<mat-icon aria-hidden="false" aria-label="Arrow Dropdown">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/home">Home</a>
            <a mat-menu-item routerLink="/contact">Contact</a>
            <a mat-menu-item routerLink="/about">About</a>
          </mat-menu>
          <a mat-raised-button routerLink="/logout" class="m1" color="accent">Logout</a>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>